# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# JetBrains
.idea/

# Environment variables
*.env

# Local database files
*.db
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.tmp
